/* general */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 300px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  color: #ffffff;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.dark {
  background-color: rgb(33, 33, 33);
  color: #84949a;
}

.light {
  background-color: rgb(255, 255, 255);
  color: #697782;
}

.light h2,
.light h3 {
  color: #3b4447;
}

.btn {
  display: inline-block;
  border: 2px solid #ffffff;
  border-radius: 3px;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

/* header */
/* nav_bar */
.nav_bar {
  border-bottom: 1px solid rgba(66,77,81,0.25);
  font-size: 14px;
}

.nav_bar ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 80px;
  color: #536970;
}

.logo {
  width: 100px;
}

.nav_bar li:not(:first-child) {
  margin-left: 20px;
}

@media screen and (max-width: 768px) {
  .nav_bar li:not(:first-child):not(:last-child) {
    display: none;
  }
}

.nav_bar li:first-child {
  margin-right: auto;
}

.nav_bar li:nth-child(4) span {
  font-size: 8px;
  vertical-align: middle;
}

.nav_bar li:nth-child(2) a:hover,
.nav_bar li:nth-child(3) a:hover {
  border-bottom: 2px solid #1fc0ed;
  color: #ffffff;
}

.nav_bar li:nth-child(4) a:hover {
  color: #ffffff;
}

.online {
  border-color: #a1de41;
  padding: 5px 10px;
}

.online:hover {
  color: #a1de41;
}

.login {
  border-color: #3f4d4e;
  padding: 5px 10px;
}

.login:hover {
  color: #a1de41;
  padding: 5px 10px;
}

.hamburger {
  position: relative;
  width: 34px;
  height: 5px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #eceeef;
}

.hamburger::before {
  position: absolute;
  top: 12px;
  width: 34px;
  height: 5px;
  border-radius: 5px;
  content: '';
  background-color: #eceeef;
}

.hamburger::after {
  position: absolute;
  top: -12px;
  width: 34px;
  height: 5px;
  border-radius: 5px;
  content: '';
  background-color: #eceeef;
}

@media screen and (min-width: 768px) {
  .nav_bar li:last-child {
    display: none;
  }
}

/* jumbotron */
.jumbotron {
  text-align: center;
}

.jumbotron div {
  margin: 50px 0;
}

@media screen and (max-width: 576px) {
  .jumbotron div {
    margin: 20px 0;
  }
}

.jumbotron h1 {
  margin-bottom: 10px;
}

@media screen and (max-width: 576px) {
  .jumbotron h1 {
    font-size: 28px;
  }
}

.jumbotron p {
  max-width: 750px;
  margin: 0 auto 20px auto;
}

.use {
  /* display: block; */
  border-color: #a1de41;
  padding: 10px 20px;
}

.use:hover {
  color: #a1de41;
}

.jumbotron img {
  display: block;
  max-width: 800px;
  width: 100%;
  margin: auto;
}
