/* general */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 300px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  color: #ffffff;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
}

h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.dark {
  background-color: rgb(28, 32, 32);
  color: #84949a;
}

.light {
  background-color: rgb(255, 255, 255);
  color: #697782;
}

.light h2,
.light h3 {
  color: #3b4447;
}

.btn {
  display: inline-block;
  border: 2px solid #ffffff;
  border-radius: 3px;
}

.link_blue {
  border-bottom: 2px solid rgba(36,193,237,0.5);
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: #24c1ed;
}

.bar {
  width: 50px;
  height: 4px;
  border: 1px solid #c8dce2;
  border-radius: 3px;
  background-color: rgba(200,220,226,0.25);
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

/* header */
/* nav_bar */
.nav_bar {
  border-bottom: 1px solid rgba(66,77,81,0.25);
}

.nav_bar_box {
  font-size: 14px;
}

.nav_bar_box ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 80px;
  color: #536970;
}

.logo {
  width: 100px;
}

.nav_bar_box li:not(:first-child) {
  margin-left: 20px;
}

@media screen and (max-width: 768px) {
  .nav_bar_box li:not(:first-child):not(:last-child) {
    display: none;
  }
}

.nav_bar_box li:first-child {
  margin-right: auto;
}

.nav_bar_box li:nth-child(4) span {
  font-size: 8px;
  vertical-align: middle;
}

.nav_bar_box li:nth-child(2) a:hover,
.nav_bar_box li:nth-child(3) a:hover {
  border-bottom: 2px solid #1fc0ed;
  color: #ffffff;
}

.nav_bar_box li:nth-child(4) a:hover {
  color: #ffffff;
}

.online {
  border-color: #a1de41;
  padding: 5px 10px;
}

.online:hover {
  color: #a1de41;
}

.login {
  border-color: #3f4d4e;
  padding: 5px 10px;
}

.login:hover {
  color: #a1de41;
  padding: 5px 10px;
}

.hamburger {
  position: relative;
  width: 34px;
  height: 5px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #eceeef;
}

.hamburger::before {
  position: absolute;
  top: 12px;
  width: 34px;
  height: 5px;
  border-radius: 5px;
  content: '';
  background-color: #eceeef;
}

.hamburger::after {
  position: absolute;
  top: -12px;
  width: 34px;
  height: 5px;
  border-radius: 5px;
  content: '';
  background-color: #eceeef;
}

@media screen and (min-width: 768px) {
  .nav_bar_box li:last-child {
    display: none;
  }
}

/* jumbotron */
.jumbotron {
  text-align: center;
}

.jumbotron div {
  margin: 50px 0;
}

@media screen and (max-width: 576px) {
  .jumbotron div {
    margin: 20px 0;
  }
}

.jumbotron h1 {
  margin-bottom: 10px;
}

@media screen and (max-width: 576px) {
  .jumbotron h1 {
    font-size: 28px;
  }
}

.jumbotron p {
  max-width: 750px;
  margin: 0 auto 20px auto;
}

.use {
  border-color: #a1de41;
  padding: 10px 20px;
}

.use:hover {
  color: #a1de41;
}

.jumbotron img {
  display: block;
  max-width: 800px;
  width: 100%;
  margin: auto;
}

/* main */
/* sponsor */
.sponsor_row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 0;
}

.sponsor_row div {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .sponsor_row .net_magazine,
  .sponsor_row .tech_republic {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .sponsor_row .forbes {
    display: none;
  }
}

.sponsor_row svg {
  height: 30px;
  fill: #c3cdd5;
}

@media screen and (max-width: 576px) {
  .sponsor_row svg {
    height: 26px;
  }
}

.border {
  height: 2px;
  background: linear-gradient(to right, rgba(226,233,237,0.25), #e2e9ed 15%, #e2e9ed 85%, rgba(226,233,237,0.25));
}

/* learn */
.learn {
  padding: 80px 0;
}

.sponsor_box {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .sponsor_box {
    display: block;
  }
}

.learn .text {
  flex-basis: 40%;
}

.learn .text h5,
.learn .text h2,
.learn .text .bar {
  margin-bottom: 10px;
}

.learn .text p {
  margin-bottom: 20px;
}

.quick_to_learn svg {
  width: 22px;
  vertical-align: middle;
}

.books {
  flex-basis: 60%;
}

@media screen and (max-width: 768px) {
  .books {
    margin-top: 40px;
  }
}

.books img {
  display: block;
  max-width: 1000px;
  width: 100%;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .books img {
    max-width: 500px;
  }
}

/* share */
.share {
  position: relative;
  padding: 100px 0;
}

.share_box {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .share_box {
    display: block;
  }
}

.share .text {
  flex-basis: 40%;
}

.share .text h5,
.share .text h2,
.share .text .bar {
  margin-bottom: 10px;
}

.share .text p {
  margin-bottom: 20px;
}

.real_time_share svg {
  width: 22px;
  vertical-align: middle;
}

.chat {
  flex-basis: 60%;
}

@media screen and (max-width: 768px) {
  .chat {
    margin-top: 40px;
  }
}

.chat img {
  display: block;
  max-width: 490px;
  width: 100%;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .chat img {
    max-width: 500px;
  }
}

/* vector */
.vector {
  padding: 80px 0;
  border-bottom: 2px solid lightgrey;
}

.vector_box {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .vector_box {
    display: block;
  }
}

.vector .text {
  flex-basis: 40%;
}

.vector .text h5,
.vector .text h2,
.vector .text .bar {
  margin-bottom: 10px;
}

.vector .text p {
  margin-bottom: 20px;
}

.vector_graphics svg {
  width: 22px;
  vertical-align: middle;
}

.scale {
  flex-basis: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .scale {
    margin-top: 40px;
  }
}

@media screen and (max-width: 576px) {
  .scale {
    display: block;
  }
}

.scale div {
  padding: 20px;
}

.scale img {
  display: block;
  max-width: 200px;
  width: 100%;
  margin: auto;
}

/* features */
.features {

}

.features_box {
  display: flex;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .features_box {
    display: block;
  }
}

.free_forever,
.cross_platform {
  padding: 80px 20px;
}

.free_forever {
  border-right: 1px solid lightgrey;
}

.cross_platform {
  border-left: 1px solid lightgrey;
}

@media screen and (max-width: 768px) {
  .free_forever {
    border-right: 0 solid lightgrey;
    border-bottom: 1px solid lightgrey;
  }

  .cross_platform {
    border-left: 0 solid lightgrey;
    border-top: 1px solid lightgrey;
  }
}

.features_box img {
  max-width: 300px;
  width: 100%;
}

/* footer */
/* spacer */
.spacer {
  height: 80px;
  border-bottom: 2px solid lightgrey;
}

/* site_map */
.site_map {
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  .site_map {
    display: none;
  }
}

.site_map h5 {
  margin-bottom: 10px;
  font-size: 14px;
  color: #c0d0d8;
}

.site_map li {
  margin-bottom: 5px;
}

/* language */
.language a {
  margin: 10px;
  padding: 10px 50px 10px 10px;
  border: 2px solid lightblue;
  border-radius: 10px;
}

/* copyright */
.last {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.company img {
  height: 20px;
}
